# Ignore Flutter platform folders
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored

# Ignore native and build system files
*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.mm linguist-vendored
*.c linguist-vendored

# Ignore CMake files
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
